[Desktop Entry]
Name=Blink Tracker
Comment=Detect and monitor eye blink rate to help reduce eye strain
Exec=BlinkTracker
Icon=BlinkTracker
Terminal=false
Type=Application
Categories=Utility;Health;
